<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" th:href="@{/assets/css/styles.css}" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<title>Add Author</title>
</head>
<body>


<div class="container">	
<br/>
<form th:action="@{/authors}" method="get">
    <button class="btn btn-lg btn-primary btn-block" type="Submit">GO BACK</button>
</form>

	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<h1>Add Author</h1>
<form autocomplete="off" action="#" th:action="@{/admin/addauthor}"  th:object="${author}" method="post"  class="form-horizontal"  role="form">
							
		 <div class="form-group">
            <div class="col-sm-9">
               <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="validation-message">Name</label>
               <input type="text" th:field="*{name}" placeholder="Name" class="form-control"/>
            </div>
          </div>
          
          <div class="form-group">
            <div class="col-sm-9">
               <label th:if="${#fields.hasErrors('country')}" th:errors="*{country}" class="validation-message">Country</label>
               <input type="text" th:field="*{country}" placeholder="Country" class="form-control"/>
            </div>
          </div>
                    
				
		  <div class="form-group">
             <div class="col-sm-9">
                 <button type="submit" class="btn btn-primary btn-block">Add</button>
              </div>
           </div>
        <h2><span class="text-success" th:utext="${successMessage}"></span></h2>   
</form>
</div>
</div>
	
	
	

</div>



	<script th:src="@{'/assets/js/jquery-2.1.4.min.js'}"></script>
	<script th:src="@{'/assets/bootstrap/js/bootstrap.min.js'}"></script>
</body>
</html>