<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	layout:decorator="layout">
<head>
<link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/assets/font-awesome-4.5.0/css/font-awesome.min.css}" />
<link rel="stylesheet" th:href="@{/assets/css/styles.css}" />
<title>Prevoznici</title>
</head>
<body>



<div layout:fragment="content">
	<br>
	<h3 class="centrirano">Authors</h3>
	
	<div sec:authorize="hasRole('ADMIN')">
			<h5>You will see this only if you are ADMIN</h5>
	</div>
	
<div class="row">	
	
<div class="col-md-7">
		<h4>Search Authors:</h4>
		
 <form th:object="${authors}" th:action="@{/authors}" method="get">
 
    <div class="form-group">
        <input type="text" name="name" id="name" th:value="${name}" placeholder="Name"/>
    </div>

    <div class="form-group">
        <input type="text" name="country" id="country" th:value="${country}" placeholder="Country"/> 
    </div>
    
    <div class="form-group">    
        <input type="submit" value="Search"/>  
    </div>    
      	
</form>
</div>


<div class="col-md-5" sec:authorize="hasRole('ADMIN')">
	<br>
	<h3 class="centrirano">Add new Autor:</h3>
	<br>
	<div class="centrirano">

	<form th:action="@{/admin/addauthor}" method="get">
    <button class="btn btn-warning btn-lg" type="Submit">+ Add New</button>
	</form>

	</div>
</div>		
	
</div>   

<br>
<div th:if="${not #lists.isEmpty(authors)}">   		 
<div class="col-12">
<table class="table table-bordered table-striped">
				<thead class="thead-dark">
					<tr>
						<th>ID</th>
						<th>Name</th>
						<th>Country</th>
						<th sec:authorize="hasRole('ADMIN')">Update</th>
						<th sec:authorize="hasRole('ADMIN')">Delete</th>
					</tr>
				</thead>
				<tbody class="redovi">
					<tr th:each ="author : ${authors}">
						<td th:utext="${author.id}"></td>
						<td th:utext="${author.name}"></td>
						<td th:utext="${author.country}"></td>

<td sec:authorize="hasRole('ADMIN')"> <a th:href="@{/admin/editauthor/{id}(id=${author.id})}" class="btn btn-success btn-sm" role="button">Update</a> </td>
<td sec:authorize="hasRole('ADMIN')"> <a th:href="@{/admin/deleteauthor/{id}(id=${author.id})}" class="btn btn-danger btn-sm" role="button">Delete</a> </td>
					</tr>
				</tbody>
</table>
			
			
<nav aria-label="Pagination" th:if="${authors.totalPages gt 0}">
    <ul class="pagination justify-content-center font-weight-medium">
        <li class="page-item" th:classappend="${authors.number eq 0} ? 'disabled'">
            <a class="page-link svg-icon"
               th:href="@{/authors?page={id}(id=${authors.number lt 2 ? 1 : authors.number})}"
               aria-label="Previous"
               title="Previous Page" rel="tooltip">
                <span aria-hidden="true" data-feather="chevrons-left" width="20" height="20">&laquo;</span>
            </a>
        </li>
        <li class="page-item" th:classappend="${i eq authors.number + 1} ? 'active'"
            th:each="i : ${#numbers.sequence( authors.number + 1, authors.totalPages > 10 + authors.number ? authors.number + 10 : authors.totalPages, 1)}">
            <a class="page-link" th:href="@{/authors?page={id}(id=${i})}" th:text="${i}"
               th:title="${'Page '+ i}"
               rel="tooltip"></a>
        </li>
        <li class="page-item disabled" th:if="${authors.number + 10 < authors.totalPages}">
            <a class="page-link svg-icon" href="#">
                <span data-feather="more-horizontal" width="20" height="20"></span>
            </a>
        </li>
        <li class="page-item" th:classappend="${authors.number + 1 eq authors.totalPages} ? 'disabled'">
            <a class="page-link svg-icon" th:href="@{/authors?page={id}(id=${authors.number + 2})}"
               aria-label="Next"
               title="Next Page" rel="tooltip">
                <span aria-hidden="true" data-feather="chevrons-right" width="20" height="20">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
			
</div>
</div>		
<br/>			
	</div>   
 



	<script th:src="@{'/assets/js/jquery-2.1.4.min.js'}"></script>
	<script th:src="@{'/assets/bootstrap/js/bootstrap.min.js'}"></script>
</body>
</html>